<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#141529" media="(prefers-color-scheme: light)">

    <title>Weather</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <section class="login">
        <form method="post" enctype="multipart/form-data">
            <label for="username">User Name:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password"><br>
            <input type="submit" value="Submit">
        </form>
    </section>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</body>
</html>